
@{
    ViewBag.Title = "Index";
}

<h2>Hi</h2>

<div class="form-horizontal">
    <h4>Menu</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            <input type="button" class="btn btn-default" onclick="window.location='/User/AddUser'" value="ADD" />
        </div>
    </div>
    <form action="/Home/Update/">
        <div class="form-group">
            <div class="col-md-10 ">
                <input type="button" class="btn btn-default" value="Update" />
            </div>
        </div>
    </form>
</div>